<a href="https://colab.research.google.com/github/PJdin/PJdin/blob/main/AIDL_220318_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configuring pandas

In [2]:
#匯出numpy 和pandas
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
#查看msft.scv前五行 先執行下面的wget 不然會找不到
# view the first five lines of data/msft.csv
!head -n 5 ./msft.csv # mac or Linux
# type data/msft.csv # on windows, but shows the entire file

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

# Reading a CSV into a DataFrame

In [4]:
#先將github的msft.csv資料抓下來
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-03-18 06:51:36--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv’

msft.csv            100%[===================>] 149.52K  --.-KB/s    in 0.008s

2022-03-18 06:51:36 (17.3 MB/s) - ‘msft.csv’ saved [153109/153109]

In [5]:
#查看一下
!head -n 5 msft.csv

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

In [6]:
#讀取csv檔案 輸出前五筆
# read in msft.csv into a DataFrame
msft = pd.read_csv("./msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying the index column when reading a CSV file

In [7]:
# 指定索引列0 輸出前五筆
# use column 0 as the index
msft = pd.read_csv("./msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

# Data type inference and specification

In [8]:
#查看類型
# examine the types of the columns in this DataFrame
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [9]:
#指定volume為float64
# specify that the Volume column should be a float64
msft = pd.read_csv("./msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

# Specifying column names

In [10]:
#給予標題列 並輸出前五筆
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("./msft.csv", 
                 header=0,
                 names=['date', 'open', 'high', 'low', 
                        'close', 'volume'])
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

# Specifying specific columns to load

In [11]:
#抓取date與close列 並將data設為索引 並輸出前五筆
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("./msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

# Saving a DataFrame to a CSV

In [12]:
#將df2轉存並命名為4070C027.csv 索引設為date
# save df2 to a new csv file
# also specify naming the index as date
df2.to_csv("./4070C027.csv", index_label='date')

In [13]:
# view the start of the file just saved
!head -n 5 ./4070C027.csv
#type data/msft_modified.csv # windows

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

# General field-delimited data

In [ ]:
# use read_table with sep=',' to read a CSV
df = pd.read_table("./msft.csv", sep=',')
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [ ]:
# 將github上的msft_piped.txt抓下來
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_piped.txt

--2022-03-18 06:30:46--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_piped.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 171933 (168K) [text/plain]
Saving to: ‘msft_piped.txt.1’

msft_piped.txt.1    100%[===================>] 167.90K  --.-KB/s    in 0.04s

2022-03-18 06:30:46 (3.71 MB/s) - ‘msft_piped.txt.1’ saved [171933/171933]

In [ ]:
#查看
!head -n 5 ./msft_piped.txt

|Date|Open|High|Low|Close|Volume
0|7/21/2014|83.46|83.53|81.81|81.93|2359300
1|7/18/2014|83.3|83.4|82.52|83.35|4020800
2|7/17/2014|84.35|84.63|83.33|83.63|1974000
3|7/16/2014|83.77|84.91|83.66|84.91|1755600

In [ ]:
#透過|分隔開
# save as pipe delimited
df.to_csv("./msft_piped.txt", sep='|')
# check that it worked
!head -n 5 ./msft_piped.txt # osx or Linux
# type data/psft_piped.txt # on windows

|Date|Open|High|Low|Close|Volume
0|7/21/2014|83.46|83.53|81.81|81.93|2359300
1|7/18/2014|83.3|83.4|82.52|83.35|4020800
2|7/17/2014|84.35|84.63|83.33|83.63|1974000
3|7/16/2014|83.77|84.91|83.66|84.91|1755600

# Handling variants of formats in field-delimited data

In [14]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft2.csv

--2022-03-18 06:52:50--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 531 [text/plain]
Saving to: ‘msft2.csv’

msft2.csv           100%[===================>]     531  --.-KB/s    in 0s

2022-03-18 06:52:51 (18.9 MB/s) - ‘msft2.csv’ saved [531/531]

In [15]:
# messy file
!head -n 6 ./msft2.csv # osx or Linux
# type data/msft2.csv # windows

This is fun because the data does not start on the first line,,,,,
Date,Open,High,Low,Close,Volume
,,,,,
And there is space between the header row and data,,,,,
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800

In [17]:
# read, but skip rows 0, 2 and 3
df = pd.read_csv("./msft2.csv", skiprows=[0, 2, 3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [19]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_with_footer.csv

--2022-03-18 06:54:13--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft_with_footer.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 149 [text/plain]
Saving to: ‘msft_with_footer.csv.1’

msft_with_footer.cs 100%[===================>]     149  --.-KB/s    in 0s

2022-03-18 06:54:13 (7.09 MB/s) - ‘msft_with_footer.csv.1’ saved [149/149]

In [21]:
# another messy file, with the mess at the end
!cat ./msft_with_footer.csv # osx or Linux
# type data/msft_with_footer.csv # windows

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800

Uh oh, there is stuff at the end.

In [22]:
# skip only two lines at the end
df = pd.read_csv("./msft_with_footer.csv", 
                 skipfooter=2,
                 engine = 'python')
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [24]:
# only process the first three rows
pd.read_csv("./msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [25]:
# skip 100 lines, then only process the next five
pd.read_csv("./msft.csv", skiprows=100, nrows=5, 
            header=0,
            names=['date', 'open', 'high', 'low', 
                   'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

# Reading and writing data in Excel format

In [ ]:
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("data/stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [ ]:
# read from the aapl worksheet
aapl = pd.read_excel("data/stocks.xlsx", sheetname='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [ ]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("data/stocks2.xls")

In [ ]:
# write making the worksheet name MSFT
df.to_excel("data/stocks_msft.xls", sheet_name='MSFT')

In [ ]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter
with ExcelWriter("data/all_stocks.xls") as writer:
    aapl.to_excel(writer, sheet_name='AAPL')
    df.to_excel(writer, sheet_name='MSFT')

In [ ]:
# write to xlsx
df.to_excel("data/msft2.xlsx")

# Reading and writing JSON files

[Pandas DataFrame read html tables參考資料](https://www.learncodewithmike.com/2020/11/read-html-table-using-pandas.html)

In [44]:
bus_table = pd.read_html("https://www.ubus.com.tw/Booking/FareInquiry")
print(bus_table)

[                國道路線
                路線名稱 全票 / 優惠全票 票價        半票票價  軍優票價    去回票價
                路線名稱         優惠時段  原價時段  半票票價  軍優票價    去回票價
0        【1610】台北－高雄         535元  590元  290元  560元  1,120元
1        【1611】台北－台南         430元  480元  265元    -元    930元
2    【1612】台北－北二高－台南         430元  480元  265元    -元    930元
3   【1612】台北－北二高－北港路         400元  420元  220元    -元      -元
4        【1613】台北－屏東         560元  620元  325元    -元      -元
..               ...          ...   ...   ...   ...     ...
55       【1663】南港－北埔         290元  320元  195元    -元      -元
56       【1663】南港－新城         260元  290元  175元    -元      -元
57       【1650】高雄－北港         220元  220元  110元    -元      -元
58       【1651】高雄－北港         220元  220元  110元    -元      -元
59      【1651】高雄－北港路         175元  175元   90元    -元      -元

[60 rows x 6 columns],            短區間販售票價表
   ※下列短區間請至各自營站現場購買
               路線名稱 全票 / 優惠全票 票價        半票票價 軍優票價 去回票價
               路線名稱         優惠時段  原價時段  半票票價 軍優票價 去回票價
0           台北 - 南崁          55元   55元   25元   -元   -元
1         台北 - 中壢新屋          90元   90元   45元   -元   -元
2           台北 - 竹科         140元  140元   70元   -元   -元
3        台北 - 中港轉運站         250元  270元  140元   -元   -元
4        市府轉運站 - 三峽          75元   75元   35元   -元   -元
..              ...          ...   ...   ...  ...  ...
34       板橋 - 中港轉運站         240元  270元  140元   -元   -元
35       中和 - 中港轉運站         240元  260元  130元   -元   -元
36       中港轉運站 - 中和         240元  260元  130元   -元   -元
37       中港轉運站 - 三峽         240元  260元  130元   -元   -元
38       三峽 - 中港轉運站         240元  260元  130元   -元   -元

[39 rows x 6 columns],                 國道路線
                路線名稱 全票 / 優惠全票 票價        半票票價 Unnamed: 4_level_1 Unnamed: 5_level_1
                路線名稱         優惠時段  原價時段  半票票價 Unnamed: 4_level_2 Unnamed: 5_level_2
0        【1610】台北－高雄         490元  490元  240元                NaN                NaN
1        【1611】台北－台南         410元  440元  220元                NaN                NaN
2    【1612】台北－北二高－台南         410元  450元  220元                NaN                NaN
3   【1612】台北－北二高－北港路         360元  360元  180元                NaN                NaN
4        【1613】台北－屏東         550元  560元  280元                NaN                NaN
..               ...          ...   ...   ...                ...                ...
56  【1662】經國轉運站-松山機場          51元   51元   26元                NaN                NaN
57       【1650】高雄－北港         220元  220元  110元                NaN                NaN
58       【1651】高雄－北港         220元  220元  110元                NaN                NaN
59       【1651】高雄－麻豆         115元  115元   55元                NaN                NaN
60       【1660】板橋－高雄         490元  500元  250元                NaN                NaN

[61 rows x 6 columns],            短區間販售票價表
   ※下列短區間請至各自營站現場購買
               路線名稱 全票 / 優惠全票 票價        半票票價 Unnamed: 4_level_2 Unnamed: 5_level_2
               路線名稱         優惠時段  原價時段  半票票價 Unnamed: 4_level_3 Unnamed: 5_level_3
0           台北 - 南崁          40元   40元   20元                NaN                NaN
1         台北 - 中壢新屋          75元   75元   35元                NaN                NaN
2           台北 - 竹科         110元  110元   50元                NaN                NaN
3        台北 - 中港轉運站         230元  240元  120元                NaN                NaN
4        市府轉運站 - 三峽          60元   60元   30元                NaN                NaN
..              ...          ...   ...   ...                ...                ...
38       板橋 - 中港轉運站         220元  235元  115元                NaN                NaN
39       中和 - 中港轉運站         210元  220元  110元                NaN                NaN
40       中港轉運站 - 中和         210元  220元  110元                NaN                NaN
41       中港轉運站 - 三峽         220元  220元  110元                NaN                NaN
42       三峽 - 中港轉運站         220元  220元  110元                NaN                NaN

[43 rows x 6 columns],           轉乘桃園機場票價表
   ※下列短區間請至各自營站現場購買
                 區間            全票            半票
0        桃園機場 - 三條崙  395+45=440 元  190+20=210 元
1         桃園機場 - 台北   70+45=115 元    35+20=55 元
2         桃園機場 - 台南  405+45=450 元  190+20=210 元
3      桃園機場 - 員林.西港  275+45=320 元  130+20=150 元
4         桃園機場 - 嘉義  375+45=420 元  180+20=200 元
..              ...           ...           ...
6         桃園機場 - 彰化  265+45=310 元  120+20=140 元
7      桃園機場 - 竹山.南投  275+45=320 元  130+20=150 元
8      桃園機場 - 西螺.虎尾  335+45=380 元  160+20=180 元
9      桃園機場 - 豐原.東勢  215+45=260 元  110+20=130 元
10        桃園機場 - 高雄  515+45=560 元  250+20=270 元

[11 rows x 3 columns]]

In [45]:
print("型態：", type(bus_table))
print("長度：", len(bus_table))

型態： <class 'list'>
長度： 5

In [50]:
bus_df = bus_table[4]  #讀取第四個表格
print(bus_df)

          轉乘桃園機場票價表
   ※下列短區間請至各自營站現場購買
                 區間            全票            半票
0        桃園機場 - 三條崙  395+45=440 元  190+20=210 元
1         桃園機場 - 台北   70+45=115 元    35+20=55 元
2         桃園機場 - 台南  405+45=450 元  190+20=210 元
3      桃園機場 - 員林.西港  275+45=320 元  130+20=150 元
4         桃園機場 - 嘉義  375+45=420 元  180+20=200 元
..              ...           ...           ...
6         桃園機場 - 彰化  265+45=310 元  120+20=140 元
7      桃園機場 - 竹山.南投  275+45=320 元  130+20=150 元
8      桃園機場 - 西螺.虎尾  335+45=380 元  160+20=180 元
9      桃園機場 - 豐原.東勢  215+45=260 元  110+20=130 元
10        桃園機場 - 高雄  515+45=560 元  250+20=270 元

[11 rows x 3 columns]

In [51]:
bus_df = bus_table[0]
bus_df.columns = ["路線名稱", "優惠時段", "原價時段", "半票票價", "軍優票價", "去回票價"]
print(bus_df)

                路線名稱  優惠時段  原價時段  半票票價  軍優票價    去回票價
0        【1610】台北－高雄  535元  590元  290元  560元  1,120元
1        【1611】台北－台南  430元  480元  265元    -元    930元
2    【1612】台北－北二高－台南  430元  480元  265元    -元    930元
3   【1612】台北－北二高－北港路  400元  420元  220元    -元      -元
4        【1613】台北－屏東  560元  620元  325元    -元      -元
..               ...   ...   ...   ...   ...     ...
55       【1663】南港－北埔  290元  320元  195元    -元      -元
56       【1663】南港－新城  260元  290元  175元    -元      -元
57       【1650】高雄－北港  220元  220元  110元    -元      -元
58       【1651】高雄－北港  220元  220元  110元    -元      -元
59      【1651】高雄－北港路  175元  175元   90元    -元      -元

[60 rows x 6 columns]

In [26]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/stocks.json

--2022-03-18 06:55:40--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/stocks.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 403 [text/plain]
Saving to: ‘stocks.json’

stocks.json         100%[===================>]     403  --.-KB/s    in 0s

2022-03-18 06:55:40 (13.5 MB/s) - ‘stocks.json’ saved [403/403]

In [42]:
#將前五筆輸出成stocks.json
# wirite the excel data to a JSON file
df[:5].to_json("./stocks.json")
#輸出stocks.json
!cat ./stocks.json # osx or Linux
#type data/stocks.json # windows

{"Date":{"0":1405900800000,"1":1405641600000,"2":1405555200000,"3":1405468800000,"4":1405382400000},"Open":{"0":83.46,"1":83.3,"2":84.35,"3":83.77,"4":84.3},"High":{"0":83.53,"1":83.4,"2":84.63,"3":84.91,"4":84.38},"Low":{"0":81.81,"1":82.52,"2":83.33,"3":83.66,"4":83.2},"Close":{"0":81.93,"1":83.35,"2":83.63,"3":84.91,"4":83.58},"Volume":{"0":2359300,"1":4020800,"2":1974000,"3":1755600,"4":1874700}}

In [28]:
#輸出成表格
# read data in from JSON
df_from_json = pd.read_json("./stocks.json")
df_from_json[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800

In [31]:
# read the stock data
df = pd.read_excel("./stocks.xlsx")
# write the first two rows to HTML
df.head(2).to_html("./stocks.html")
# check the first 28 lines of the output
!head -n 10 ./stocks.html # max or Linux
# type data/stocks.html # window, but prints the entire file

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>

In [33]:
#讀取stocks.xlsx檔 並輸出前五筆
# read excel file
# only reads first sheet (msft in this case)
df = pd.read_excel("./stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [39]:
#讀取stocks.xlsx中的appl表並輸出前五筆 給予別名為aapl
# read from the aapl worksheet
aapl = pd.read_excel("./stocks.xlsx", sheet_name='aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [41]:
#將df轉存為stocks2.xls
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("./stocks2.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

# Reading and writing from/to SQL databases

In [ ]:
# reference SQLite
import sqlite3

# read in the stock data from CSV
msft = pd.read_csv("data/msft.csv")
msft["Symbol"]="MSFT"
aapl = pd.read_csv("data/aapl.csv")
aapl["Symbol"]="AAPL"

# create connection
connection = sqlite3.connect("data/stocks.sqlite")
# .to_sql() will create SQL to store the DataFrame
# in the specified table.  if_exists specifies
# what to do if the table already exists
msft.to_sql("STOCK_DATA", connection, if_exists="replace")
aapl.to_sql("STOCK_DATA", connection, if_exists="append")

# commit the SQL and close the connection
connection.commit()
connection.close()

In [ ]:
# connect to the database file
connection = sqlite3.connect("data/stocks.sqlite")

# query all records in STOCK_DATA
# returns a DataFrame
# inde_col specifies which column to make the DataFrame index
stocks = pd.io.sql.read_sql("SELECT * FROM STOCK_DATA;", 
                             connection, index_col='index')

# close the connection
connection.close()

# report the head of the data retrieved
stocks[:5]

            Date   Open   High    Low  Close   Volume Symbol
index
0      7/21/2014  83.46  83.53  81.81  81.93  2359300   MSFT
1      7/18/2014  83.30  83.40  82.52  83.35  4020800   MSFT
2      7/17/2014  84.35  84.63  83.33  83.63  1974000   MSFT
3      7/16/2014  83.77  84.91  83.66  84.91  1755600   MSFT
4      7/15/2014  84.30  84.38  83.20  83.58  1874700   MSFT

In [ ]:
# open the connection
connection = sqlite3.connect("data/stocks.sqlite")
# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE " + \
        "Volume>29200100 AND Symbol='MSFT';"
# execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()
# report the query result
items

            Date   Open   High    Low  Close    Volume Symbol
index
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT

# Reading stock data from Google Finance

In [ ]:
# import data reader package
import pandas_datareader as pdr

In [ ]:
# read from google and display the head of the data
start = datetime(2017, 4, 1)
end = datetime(2017, 4, 30)
goog = pdr.data.DataReader("MSFT", 'google', start, end)
goog[:5]

             Open   High    Low  Close    Volume
Date
2017-04-03  65.81  65.94  65.19  65.55  20400871
2017-04-04  65.39  65.81  65.28  65.73  12997449
2017-04-05  66.30  66.35  65.44  65.56  21448594
2017-04-06  65.60  66.06  65.48  65.73  18103453
2017-04-07  65.85  65.96  65.44  65.68  14108533

# Retrieving options data from Google Finance

In [ ]:
# read options for MSFT
options = pdr.data.Options('MSFT', 'google')

In [ ]:
options.expiry_dates

[datetime.date(2018, 1, 19)]

In [ ]:
data = options.get_options_data(expiry=options.expiry_dates[0])
data.iloc[:5,:3]

                                             Last    Bid    Ask
Strike Expiry     Type Symbol
23.0   2018-01-19 call MSFT180119C00023000  45.34  46.90  48.80
                  put  MSFT180119P00023000   0.02   0.01   0.03
25.0   2018-01-19 call MSFT180119C00025000  43.25  45.05  46.20
                  put  MSFT180119P00025000   0.04   0.02   0.04
28.0   2018-01-19 call MSFT180119C00028000  41.55  41.85  42.90

In [ ]:
# get all puts at strike price of $30 (first four columns only)
data.loc[(30, slice(None), 'put'), :].iloc[0:5, 0:3]

                                            Last   Bid   Ask
Strike Expiry     Type Symbol
30.0   2018-01-19 put  MSFT180119P00030000  0.06  0.04  0.07

In [ ]:
# put options at strike of $80, between 2017-06-01 and 2017-06-30
data.loc[(30, slice('20180119','20180130'), 'put'), :] \
    .iloc[:, 0:3]

                                            Last   Bid   Ask
Strike Expiry     Type Symbol
30.0   2018-01-19 put  MSFT180119P00030000  0.06  0.04  0.07

# Reading economic data from the Federal Reserve Bank of St. Louis

In [ ]:
# read GDP data from FRED
gdp = pdr.data.FredReader("GDP",
                     date(2012, 1, 1), 
                     date(2014, 1, 27))
gdp.read()[:5]

/Users/michaelheydt/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:5: DeprecationWarning: pandas.core.common.is_list_like is deprecated. import from the public API: pandas.api.types.is_list_like instead

                GDP
DATE
2012-01-01  15973.9
2012-04-01  16121.9
2012-07-01  16227.9
2012-10-01  16297.3
2013-01-01  16475.4

In [ ]:
# Get Compensation of employees: Wages and salaries
pdr.data.FredReader("A576RC1A027NBEA",
                date(1929, 1, 1),
                date(2013, 1, 1)).read()[:5]

/Users/michaelheydt/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:4: DeprecationWarning: pandas.core.common.is_list_like is deprecated. import from the public API: pandas.api.types.is_list_like instead

            A576RC1A027NBEA
DATE
1929-01-01             50.5
1930-01-01             46.2
1931-01-01             39.2
1932-01-01             30.5
1933-01-01             29.0

# Accessing Kenneth French data

In [ ]:
# read from Kenneth French fama global factors data set
factors = pdr.data.FamaFrenchReader("Global_Factors").read()
factors[0][:5]

         Mkt-RF   SMB   HML   WML    RF
Date
2010-01   -3.70  2.70 -0.29 -2.23  0.00
2010-02    1.24  0.14  0.10  1.59  0.00
2010-03    6.30 -0.26  3.18  4.26  0.01
2010-04    0.44  3.78  0.77  1.60  0.01
2010-05   -9.52  0.17 -2.54 -0.56  0.01

# Reading from the World Bank

In [ ]:
# get all indicators
from pandas_datareader import wb
all_indicators = pdr.wb.get_indicators()
all_indicators.iloc[:5,:2]

                     id                                     name
0    1.0.HCount.1.90usd          Poverty Headcount ($1.90 a day)
1     1.0.HCount.2.5usd          Poverty Headcount ($2.50 a day)
2  1.0.HCount.Mid10to50    Middle Class ($10-50 a day) Headcount
3       1.0.HCount.Ofcl  Official Moderate Poverty Rate-National
4   1.0.HCount.Poor4uds             Poverty Headcount ($4 a day)

In [ ]:
# search of life expectancy indicators
le_indicators = pdr.wb.search("life expectancy")
# report first three rows, first two columns
le_indicators.iloc[:5,:2]

                     id                                               name
8413        SE.SCH.LIFE  School life expectancy, primary to tertiary, b...
9626  SP.DYN.LE00.FE.IN           Life expectancy at birth, female (years)
9627     SP.DYN.LE00.IN            Life expectancy at birth, total (years)
9628  SP.DYN.LE00.MA.IN             Life expectancy at birth, male (years)
9629  SP.DYN.LE60.FE.IN                  Life expectancy at age 60, female

In [ ]:
# get countries and show the 3 digit code and name
countries = pdr.wb.get_countries()
# show a subset of the country data
countries.loc[0:5,['name', 'capitalCity', 'iso2c']]

          name       capitalCity iso2c
0        Aruba        Oranjestad    AW
1  Afghanistan             Kabul    AF
2       Africa                      A9
3       Angola            Luanda    AO
4      Albania            Tirane    AL
5      Andorra  Andorra la Vella    AD

In [ ]:
# get life expectancy at birth for all countries from 1980 to 2014
le_data_all = pdr.wb.download(indicator="SP.DYN.LE00.IN", 
                          start='1980', 
                          end='2014')
le_data_all

                    SP.DYN.LE00.IN
country       year
Canada        2014       81.956610
              2013       81.765049
              2012       81.562439
              2011       81.448780
              2010       81.197561
...                            ...
United States 1984       74.563415
              1983       74.463415
              1982       74.360976
              1981       74.009756
              1980       73.609756

[105 rows x 1 columns]

In [ ]:
# only US, CAN, and MEX are returned by default
le_data_all.index.levels[0]

Index(['Canada', 'Mexico', 'United States'], dtype='object', name='country')

In [ ]:
# retrieve life expectancy at birth for all countries 
# from 1980 to 2014
le_data_all = wb.download(indicator="SP.DYN.LE00.IN", 
                          country = countries['iso2c'],
                          start='1980', 
                          end='2012')
le_data_all

/Users/michaelheydt/anaconda/lib/python3.6/site-packages/pandas_datareader/wb.py:145: UserWarning: Non-standard ISO country codes: 1A, 1W, 4E, 6D, 6F, 6L, 6N, 6X, 7E, 8S, A4, A5, A9, B1, B2, B3, B4, B6, B7, B8, C4, C5, C6, C7, C8, C9, D2, D3, D4, D5, D6, D7, D8, D9, EU, F1, F6, JG, L4, L5, L6, L7, M1, M2, N6, O6, OE, R6, S1, S2, S3, S4, T2, T3, T4, T5, T6, T7, V1, V2, V3, V4, XC, XD, XE, XF, XG, XH, XI, XJ, XK, XL, XM, XN, XO, XP, XQ, XT, XU, XY, Z4, Z7, ZB, ZF, ZG, ZJ, ZQ, ZT
  'country codes: %s' % tmp, UserWarning)

               SP.DYN.LE00.IN
country  year
Aruba    2012       75.205756
         2011       75.081390
         2010       74.953537
         2009       74.818146
         2008       74.675732
...                       ...
Zimbabwe 1984       61.583951
         1983       61.148171
         1982       60.605512
         1981       60.004829
         1980       59.388024

[8679 rows x 1 columns]

In [ ]:
#le_data_all.pivot(index='country', columns='year')
le_data = le_data_all.reset_index().pivot(index='country', 
                                          columns='year')
# examine pivoted data
le_data.iloc[:5,0:3]

               SP.DYN.LE00.IN
year                     1980       1981       1982
country
Afghanistan         41.867537  42.526927  43.230732
Albania             70.235976  70.454463  70.685122
Algeria             58.164024  59.486756  60.786341
American Samoa            NaN        NaN        NaN
Andorra                   NaN        NaN        NaN

In [ ]:
# ask what is the name of country for each year
# with the least life expectancy
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy[:5]

                year
SP.DYN.LE00.IN  1980       Cambodia
                1981       Cambodia
                1982    Timor-Leste
                1983    South Sudan
                1984    South Sudan
dtype: object

In [ ]:
# and what is the minimum life expectancy for each year
expectancy_for_least_country = le_data.min(axis=0)
expectancy_for_least_country[:5]

                year
SP.DYN.LE00.IN  1980    27.738976
                1981    33.449927
                1982    38.186220
                1983    39.666488
                1984    39.999537
dtype: float64

In [ ]:
# this merges the two frames together and gives us
# year, country and expectancy where there minimum exists
least = pd.DataFrame(
    data = {'Country': country_with_least_expectancy.values,
            'Expectancy': expectancy_for_least_country.values},
    index = country_with_least_expectancy.index.levels[1])
least[:5]

          Country  Expectancy
year
1980     Cambodia   27.738976
1981     Cambodia   33.449927
1982  Timor-Leste   38.186220
1983  South Sudan   39.666488
1984  South Sudan   39.999537